@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Playfair+Display+SC:wght@900&family=Playfair+Display:ital,wght@0,800;1,800&family=Manrope:wght@800&display=swap");
*
{
    box-sizing: border-box;
}
body
{
    font-size: 1.1rem;
    font-family: "EB Garamond", serif;
    color: #1c1f33;
    background: url("../static/assets/background.png") repeat;
    padding: 4rem 2rem;
    line-height: 1.3;
    text-align: justify;
    break-inside: avoid;
}
a
{
    text-decoration: none;
    display: block;
    color: #1c1f33;
}
a:hover, a:focus, a:active, a:visited
{
    color: #222;
}
.main__wrapper
{
    max-width: 1135px;
    margin: auto;
}
h1
{
    font: 50px/1 "Playfair Display SC";
    text-align: center;
}
h3
{
    font: italic 20px "Playfair Display", serif;
    margin-bottom: 1rem;
}
h4
{
    font: 20px/1.2 "Playfair Display", serif;
}
h5
{
    font: 700 20px/1 "EB Garamond", serif;
    transition: 0.3s ease;
}
p
{
    line-height: 1.3;
}
p a
{
    display: inline;
}
.title--large
{
    font-family: "Playfair Display", serif;
    font-size: 32px;
    font-style: italic;
    text-align: left;
    margin-bottom: 0.8rem;
}
main h1, main aside
{
    grid-column: 1 / -1;
}
main .social
{
    grid-column: 1 / -2;
    grid-row: 8 / 9;
}
main .article-bar-1
{
    grid-row: span 4;
}
main .cssgrid-collection
{
    grid-column: 1 / -1;
    grid-row: 9;
}
.span--2
{
    grid-column: span 2;
}
.long--4
{
    grid-row: span 4;
}
.with-border
{
    border-top: 1px solid;
    padding-top: 0.6rem;
}
aside
{
    text-align: center;
    padding: 3px 0;
    border: solid #1c1f33;
    border-width: 2px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 1.5rem 0;
}
aside > div
{
    display: flex;
    align-items: center;
    border: solid #1c1f33;
    border-width: 1px 0;
}
aside > div > div
{
    flex: 1;
    padding: 8px;
}
.sidebar
{
    margin-top: 3rem;
}
.main-text.multi-column
{
    margin: 0;
}
.main-text.multi-column p
{
    margin-bottom: 0.8rem;
}
.pie
{
    line-height: 0;
    color: #eee;
    text-align: left;
}
.pie__image
{
    margin: 0;
    border: 0;
    max-height: 15rem;
    object-fit: cover;
}
.pie__subtitle
{
    background: #999;
    text-transform: uppercase;
    line-height: 1;
    padding: 0.4rem 1rem;
    font: 14px "Manrope", sans-serif;
    color: #eee;
}
.pie__content
{
    background: #666;
    padding: 1rem 1rem 1.2rem;
    color: #eee;
}
.pie__content p
{
    margin-top: 0.5rem;
}
.sidebar-item
{
    margin: 2rem 0;
    padding: 2rem 0 0;
}
.sidebar-item h5
{
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    margin: auto;
}
.sidebar-item p
{
    margin-top: 1rem;
}
.sidebar-item:hover h5
{
    transition: 0.3s ease;
    background: #1c1f33;
    color: #fff;
}
.item-with-image
{
    margin-top: 1.5rem;
}
.item-with-image h4
{
    font-size: 24px;
    text-align: left;
    margin-bottom: 0.5rem;
    transition: 0.2s ease;
}
.item-with-image:not(.cssgrid-collection):hover h4
{
    color: white !important;
    background: #1c1f33;
}
.magazine
{
    border-width: 1px 0;
    padding-bottom: 1rem;
}
.menu
{
    margin: 1.5rem 0;
}
.cssgrid-collection
{
    display: flex;
    align-content: stretch;
    border-top: 1px solid;
    padding-top: 1rem;
}
.cssgrid-collection h4
{
    margin: 0 0 0.8rem;
}
.cssgrid-collection__image
{
    flex: 0 0 32%;
    margin-right: 1.5rem;
}
.cssgrid-collection p a
{
    border-bottom: 1px dashed;
}
.cssgrid-collection p a:hover
{
    border-bottom: 1px solid;
}
.social
{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: max-content auto;
    color: #eee;
    text-align: left;
}
.social__image
{
    margin: 0;
    border: 0;
    grid-row: span 2;
    height: 100%;
    object-fit: cover;
}
.social__subtitle
{
    background: #999;
    text-transform: uppercase;
    line-height: 1;
    padding: 0.4rem 1rem;
    color: #eee;
    font: 14px "Manrope", sans-serif;
}
.social__content
{
    background: #666;
    padding: 1rem;
    color: #eee;
    grid-column: 2;
}
.plan
{
    padding-bottom: 1rem;
}
@media (min-width: 700px)
{
    main .sidebar
    {
        grid-column: 1 / -1;
    }
    main .main-text
    {
        grid-column: span 5;
    }
    main .main-title
    {
        grid-column: 1 / -1;
    }
    main
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr) 23%;
        grid-template-rows: repeat(5, auto);
        grid-gap: 1.2rem;
    }
    .title--large
    {
        font-size: 42px;
        margin: 0;
    }
    h1
    {
        font: 70px/1 "Playfair Display SC";
    }
    main .menu
    {
        grid-column: 1 / -1;
        grid-row: 13;
    }
    .multi-column
    {
        column-count: 2;
        column-gap: 1.3rem;
        margin-top: 0.75rem;
    }
    .multi-column-3
    {
        column-count: 3;
    }
    aside
    {
        margin: 0;
    }
    .item-with-image
    {
        margin: 0;
    }
}
@media (min-width: 1024px)
{
    main .main-title
    {
        grid-column: 1 / -2;
    }
    main .main-text
    {
        grid-column: span 2;
    }
    main .sidebar
    {
        grid-row: 3 / 9;
        grid-column: 5 / 6;
    }
    main .menu
    {
        grid-row: 7 / 8;
        grid-column: 2 / 4;
    }
    .sidebar
    {
        display: block;
        border-left: 1px solid;
        padding-left: 1.2rem;
        margin: 0;
    }
    .captcha
    {
        margin-top: 0;
    }
    .menu
    {
        margin: 0;
    }
}
@media (min-width: 700px) and (max-width: 1024px)
{
    main .toggles
    {
        grid-column: 3 / 6;
        grid-row: 10 / 13;
    }
    main .plan
    {
        grid-column: span 4;
    }
    main .style, main .magazine, main .pasta
    {
        grid-column: 1 / 3;
    }
    .sidebar
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0;
    }
    .sidebar h3
    {
        width: 100%;
        text-align: center;
    }
    .sidebar > a
    {
        flex: 0 1 48%;
        margin: 1.5rem 0;
        padding: 0;
    }
    .sidebar .pie
    {
        order: 3;
    }
    .plan
    {
        grid-column: span 3;
        margin: 0 0 1.5rem;
    }
}